Q1. Pandas version
What's the version of Pandas that you installed?

In [18]:
import numpy as np
import pandas as pd
pd.__version__

'2.3.2'

In [2]:
# Read the dataset
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

Q2. Records count
How many records are in the dataset?

In [3]:
record_count = len(df)
record_count

9704

Q3. Fuel types
How many fuel types are presented in the dataset?

In [4]:
df["fuel_type"].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

Q4. Missing values
How many columns in the dataset have missing values?

In [5]:
missing_counts_per_column = df.isnull().sum()
missing_counts_per_column

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [6]:
df["origin"].value_counts()

origin
Europe    3254
Asia      3247
USA       3203
Name: count, dtype: int64

In [7]:
df[df["origin"] == "Asia"]["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

Q6. Median value of horsepower

In [8]:
# Median value of horsepower
median_horsepower = df["horsepower"].median()
median_horsepower

np.float64(149.0)

In [9]:
# calculate the most frequent value of the same horsepower column. 
most_frequent_horsepower = df["horsepower"].mode()
most_frequent_horsepower[0]

np.float64(152.0)

In [10]:
df["horsepower"].isnull().sum()

np.int64(708)

In [11]:
# Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
df["horsepower"] = df["horsepower"].fillna(most_frequent_horsepower[0])
df["horsepower"].isnull().sum()

np.int64(0)

In [12]:
# Now, calculate the median value of horsepower once again.
new_median_horsepower = df["horsepower"].median()
new_median_horsepower

np.float64(152.0)

Q7. Sum of weights

In [13]:
# Select all the cars from Asia
df[df["origin"] == "Asia"]

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [14]:
#Select only columns vehicle_weight and model_year
#Select the first 7 values
df[df["origin"] == "Asia"][["vehicle_weight", "model_year"]].head(7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [15]:
# Get the underlying NumPy array. Let's call it X.
X = df[df["origin"] == "Asia"][["vehicle_weight", "model_year"]].head(7).values
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [16]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX 
XTX= X.T.dot(X)
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [19]:
#Invert XTX.
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [21]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [ ]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv.dot(X.T).dot(y)
w

array([0.01386421, 0.5049067 ])

In [ ]:
# sum of all the elements of the result
w.sum()

np.float64(0.5187709081074016)